<a href="https://colab.research.google.com/github/armitakar/GGS366_Spatial_Computing/blob/main/Lectures/3_2_Data_structures_Dictionaries%2C_Sets%2C_and_Nested_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this lecture, we will explore **compound, unsequenced (unordered) data structures** and learn how to manipulate them effectively. We will also learn how to work with **nested data structures**.

# Dictionaries

A powerful compound data structure, representing a number of key-value pairs enclosed by curly braces.

- Keys can be strings, integers or floats.

- Values can be any data types (strings, integers or floats, lists, tuples, another dictionary)

**Dictionaries are unordered**, so not indexed. You can explicitly call the keys to get their corresponding values/items.

You can edit dictionaries, which means **dictionaries are mutable**.

This key-value format helps us efficiently look up important values (e.g., in lookup tables).

In [12]:
# Example of a dictionary storing country information for Japan
country_info = {
    "country": "Japan",
    "capital": "Tokyo",
    "population": 125800000,  # Population in integers
    "gdp": 4.937      # Gross Domestic Product in USD (in trillion)
}

To obtain the **value of a specific key in a dictionary**, use the dictionary name followed by the key name enclosed in quotes within square brackets.

In [13]:
# Accessing the information
print("Country:", country_info["country"])
print("Capital:", country_info["capital"])
print("Population:", country_info["population"])
print("GDP (USD):", country_info["gdp"], "Trillions")

Country: Japan
Capital: Tokyo
Population: 125800000
GDP (USD): 4.937 Trillions

**Dictionaries are mutable**, and therefore we can easily add new key-value pairs.

In [14]:
# Adding a new key-value pair for the official language
country_info["official_language"] = "Japanese"

# Displaying the updated dictionary
country_info

{'country': 'Japan',
 'capital': 'Tokyo',
 'population': 125800000,
 'gdp': 4.937,
 'official_language': 'Japanese'}

You can also **modify a key's value**.

In [15]:
# Updating the value for key 'gdp'
country_info["gdp"] = 4.386

# Displaying the updated dictionary
country_info

{'country': 'Japan',
 'capital': 'Tokyo',
 'population': 125800000,
 'gdp': 4.386,
 'official_language': 'Japanese'}

# Sets

A set only contains **a number of unique elements, enclosed with curly braces**. Unlike lists, sets cannot have repeated items, and unlike dictionaries, sets do not store key-value pairsâ€”only unique values.

**Sets are mutable, but unordered.**

In [16]:
my_set = {1, 2, 3, 4, 5}

A key use case for sets is finding unique values, and/or then checking for inclusion/exclusion. Say, we have a list of students' age in a class, and we want to know the unique age years we have in this class. We can use the set() function for that.

In [17]:
# a list of students' age in a class
age = [20, 21, 22, 22, 22, 21, 20, 19, 20]

# get the unique set of ages
age_set = set(age)

# print the set
print(age_set)

{19, 20, 21, 22}

You can add more values to the set using **add()** function. Assume, we enrolled a new student of age 23 in this class, then we can update the age_set by adding this new age value.

In [18]:
age_set.add(23)
print(age_set)

{19, 20, 21, 22, 23}

# Nested data structures

Compound data structures can again be nested, meaning that **one data structure inside another one**. The most common ones we use are: list of lists, list of tuples and list of dictionaries.

### Lists of lists
In this case, multiple lists are nested within a single list, with each inner list separated by a comma.

In [19]:
# example of list of lists
countries_in_continents = [
    ["USA", "Canada", "Mexico"],               # North America
    ["Brazil", "Argentina", "Colombia"],       # South America
    ["China", "India", "Japan"],               # Asia
    ["Germany", "France", "Italy"],            # Europe
    ["Nigeria", "Egypt", "South Africa"],      # Africa
    ["Australia", "New Zealand", "Fiji"]       # Oceania
]

To access individual items from the nested lists, you need to use two index positions, each enclosed in square brackets.

- The first index refers to the position of the inner list within the outer list.
- The second index refers to the position of the item within that specific inner list.

In [20]:
# Accessing an element (e.g., "India" from Asia)
print(countries_in_continents[2][1])  # Printing the second item (index 1) in the 3rd list (index 2)

India

### List of tuples
Similarly, we can nest multiple tuples within one list, each tuple separated by a comma. Accessing data from a list of tuples is the same as accessing data from a list of lists.

In [21]:
# Line feature represented as a list of (latitude, longitude) tuples
line_feature = [
    (38.8951, -77.0364),  # Washington, D.C.
    (39.9526, -75.1652),  # Philadelphia, PA
    (40.7128, -74.0060),  # New York City, NY
    (42.3601, -71.0589)   # Boston, MA
]

# Display the line feature
print(line_feature[3][0]) # Printing the first item (index 0) in the 4rth tuple (index 3)

42.3601

### List of dictionaries

In this case, multiple dictionaries are stored within a single list, with each dictionary separated by a comma.

In [22]:
# List of dictionaries representing countries with their details
countries_info = [
    {
        "country": "Japan",
        "capital": "Tokyo",
        "population": 125800000,   # Population in numbers
        "gdp": 4.937       # GDP in USD (in trillion)
    },
    {
        "country": "Germany",
        "capital": "Berlin",
        "population": 83100000,    # Population in numbers
        "gdp": 4.211       # GDP in USD (in trillion)
    },
    {
        "country": "Canada",
        "capital": "Ottawa",
        "population": 38930000,    # Population in numbers
        "gdp": 2.268       # GDP in USD (in trillion)
    }
]


To access specific data from the list of dictionaries, you need to use two steps:

- First, use an index inside square brackets to refer to the position of the dictionary within the list.
- Then, use the dictionary key (in quotes) to access the corresponding value.

In [23]:
print(f"{countries_info[0]['country']}'s capital is {countries_info[0]['capital']}")
print(f"{countries_info[1]['country']}'s capital is {countries_info[1]['capital']}")
print(f"{countries_info[2]['country']}'s capital is {countries_info[2]['capital']}")

Japan's capital is Tokyo
Germany's capital is Berlin
Canada's capital is Ottawa