<a href="https://colab.research.google.com/github/armitakar/GGS366_Spatial_Computing/blob/main/Lectures/4_2_Control_flow_structures_Iteration_using_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Iteration** is the process of repeatedly performing the same action on different data values. In Python, loops are used to facilitate iteration.

So we could define a set of processing instructions for our data, and then via iteration, we could use a Python loop to feed each element in our dataset one-by-one through these steps. Sometimes we might specify that we want the iteration process to continue until a pre-defined condition is met (at which point the loop ceases).

The two most commonly used loop structures are: *for* and *while* loop

# For loop

A ***for*** loop allows us to execute a set of actions on each item in a sequence (such as lists, tuples, or strings).

The loop goes through the sequence one item at a time and check for the Last Item:
- If itâ€™s not the last item, the loop executes the action on the current item and then moves to the next item.
- If it is the last item, the loop stops.

This process ensures that every item in the sequence is processed unless a condition (like a break statement) interrupts the loop.

![loop](https://miro.medium.com/v2/resize:fit:916/0*E1zsmJf8iM53Iery.png)

### *For* loop structure in Python
- The *for* loop begins with the term ***for***.
- We then specify our **iterator**, that helps us navigate to the specific item we are dealing with in the respective iteration step. Python allows this to be user-defined (e.g., ***i*** ).
- Next, we need to specify that this iterator will be iterating ***in*** the following sequence.
- Finally, we specify the ***sequence data structure*** we want to iterate with. In addition to sequence data structures like lists, tuples, and strings, we can also use the ***range()*** function to iterate over a list of numbers within a *for* loop. This built-in function takes a start, stop, and step value and returns an immutable sequence of numbers. Within range function:
  - If you do not provide a start value, it defaults to zero.
  - If you do not provide a step value, it defaults to one.
  - The start number is included and the end number is excluded

You can find more details about the range() function here: https://docs.python.org/3/library/stdtypes.html#typesseq-range

In [75]:
# printing the numbers between 1 (included) and 10 (excluded)
# step value not defined, defaulting to 1
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [76]:
# instead of using i you could have used anything
for each_item in range(1, 10):
    print(each_item)

1
2
3
4
5
6
7
8
9

In [77]:
# printing the numbers upto 5
# start value not defined, defaulting to 0
# step value not defined, defaulting to 1
for i in range(5):
    print(i)

0
1
2
3
4

In [78]:
# printing the numbers between 20 (included) and 100 (excluded) with a step value of 10
for i in range(20, 100, 10):
    print(i)

20
30
40
50
60
70
80
90

Now let's try using a *for* loop to iterate over a list.

In [79]:
# we have a list of cities here
list_of_cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]

# iterating over each item in the list and printing the city name
for city in list_of_cities:
    print(f"The city name is {city}")

The city name is New York
The city name is Los Angeles
The city name is Chicago
The city name is Houston
The city name is Phoenix

What if we want to iterate over multiple lists within the same loop? The range() function can be very handy in this case, as it allows us to iterate through the lists based on their index values.

In [80]:
# we have two lists: cities and respective population size
list_of_cities = ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
list_of_population = [8175133, 3792621, 2695598, 2129784, 1445632]

# Use range() to iterate by index
for i in range(len(list_of_cities)): # for each index values in list of cities
    city = list_of_cities[i]
    population = list_of_population[i]
    print(f"The city name is {city}, and its population is {population}.")

The city name is New York, and its population is 8175133.
The city name is Los Angeles, and its population is 3792621.
The city name is Chicago, and its population is 2695598.
The city name is Houston, and its population is 2129784.
The city name is Phoenix, and its population is 1445632.

Similarly, *for* loops can also iterate over a tuple.

In [81]:
# Tuple containing capital names
tuple_of_capitals = ("Paris", "Berlin", "Madrid", "Rome")

# looping through the tuple to print capital names
for capital in tuple_of_capitals:
    print(f"The capital city is {capital}")

The capital city is Paris
The capital city is Berlin
The capital city is Madrid
The capital city is Rome

You can also iterate over a list of tuples. Note that we provide **multiple iterators**, each representing an item in the tuple, and the for loop processes one tuple at a time.

In [82]:
# List containing tuples with country, capital, and population
country_capitals_population = [
    ("France", "Paris", 2148327),
    ("Germany", "Berlin", 3769495),
    ("Spain", "Madrid", 3223334),
    ("Italy", "Rome", 2872800)
]

# Loop through each tuple and print country, capital, and population
for country, capital, population in country_capitals_population:
    print(f"The capital of {country} is {capital}, and its population is {population}.")

The capital of France is Paris, and its population is 2148327.
The capital of Germany is Berlin, and its population is 3769495.
The capital of Spain is Madrid, and its population is 3223334.
The capital of Italy is Rome, and its population is 2872800.

However, to iterate over a dictionary, as we have key-value pairs, we must do something slightly different via the items() function. We provide two iterators here, each presenting a key-value pair, and the for loop iterates one key-value pair at a time.

In [83]:
# Dictionary containing country and capital names
dict_of_capitals = {
    "France": "Paris",
    "Germany": "Berlin",
    "Spain": "Madrid",
    "Italy": "Rome"
}

# loop printing each country and capital name
for key, value in dict_of_capitals.items():
    print(f"The capital of {key} is {value}")

The capital of France is Paris
The capital of Germany is Berlin
The capital of Spain is Madrid
The capital of Italy is Rome

You can use .keys() and .values() functions to solely print keys or values.

In [84]:
# loop printing each country name (keys)
for key in dict_of_capitals.keys():
    print(f"Country name: {key}")

Country name: France
Country name: Germany
Country name: Spain
Country name: Italy

In [85]:
# loop printing each capital name (values)
for value in dict_of_capitals.values():
    print(f"Capital name: {value}")

Capital name: Paris
Capital name: Berlin
Capital name: Madrid
Capital name: Rome

It is also possible to iterate over a string, if we want to, iterating over one character at a time (although we will use this less frequently, than the iteration approach for lists and dicts).

In [86]:
# Iterating over a string
my_string ='iterating a string'
for i in my_string:
  print(i)

i
t
e
r
a
t
i
n
g

a

s
t
r
i
n
g

### List comprehension

You can append values to a list using *for* loops.

In [87]:
# here's an empty list
squares = []

# adding square values of numbers between 0-10
for i in range(11):
    squares.append(i**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

You can achieve the same result in a single line, making the code more concise and readable. This technique is known as list comprehension.

In [88]:
squares = [i**2 for i in range(11)] # first we provide the action code then the for statement
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

You can also add conditional statement within list comprehension.

In [89]:
# Creating a List of Even Numbers
evens = [i for i in range(1, 21) if i % 2 == 0] # first we provide the action code, then the for statement, and then if conditions
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

If we have both if-else statement, then we provide the statements first then loop controls.

In [90]:
# Replacing Negative Numbers with Zero
numbers = [10, -5, 20, -3, 15, -8, 25]
processed_numbers = [num if num >= 0 else 0 for num in numbers]
print(processed_numbers)

[10, 0, 20, 0, 15, 0, 25]

# While loop

A ***while*** loop allows us to repeatedly execute a set of actions as long as a specified condition remains true. Unlike a *for* loop, which runs for a fixed number of items, a while loop continues until a condition is no longer met.

A while loop starts with the term ***while***, followed by a condition that determines when the loop should continue. Then we enter the loop and test the condition:
- If the condition is true, execute the code inside the loop. Once done, update any necessary variables and recheck the condition.
- If the condition is false, stop the loop.

This allows the loop to run indefinitely until the stopping condition is met.


![while loop](https://www.programiz.com/sites/tutorial2program/files/python-while-loop.png)

Here's an example. Letâ€™s say we have a variable named *i*. We want to print the value of *i* as long as it is less than 10.

1. First, we initialize *i* with a starting value (e.g., 3).
2. Then, we use a while loop to check if *i* is less than 10. If true, the loop continues.
3. Inside the loop, we print *i* and increment *i* by 1 using the += operator.
  - The += operator takes the current value of *i* and adds the specified amount (in this case, 1).
4. The loop stops once *i* reaches 10.

In [91]:
i = 3  # Initial value

while i < 10:  # Condition: Run while i is less than 10
    print(i)  # Print the current value of i
    i += 1  # Increment i by 1

3
4
5
6
7
8
9

Here's another example. We're creating a list that contains all the odd numbers between 1 to 25.

In [92]:
# Initialize an empty list
odd_numbers = []

# Start from the first odd number (1)
i = 1

# Use while loop to iterate until 25
while i <= 25:
    odd_numbers.append(i)  # Add the current odd number to the list
    i += 2  # Increment by 2 to get the next odd number

# Print the final list
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

# Loop control

We have a few options to help us control a loop, including using continue, break, etc.

- **continue** indicates that if some condition is met, the loop should skip to the next iteration.
- **break** indicates that if some condition is met, we want to stop iterating.

Here's an example of the continue statement. For instance, we want to create a list that contains first 10 multiples of 3.

In [94]:
multiples_of_3 = []  # Initialize an empty list to store multiples of 3

i = 3  # Start with 3, as it is the first multiple of 3

while True:  # Infinite loop to continuously check numbers
    # Check if 'i' is not a multiple of 3
    if i % 3 != 0:
        i += 1  # Increment 'i' to check the next number
        continue  # Skip the rest of the loop and start the next iteration

    # Stop the loop once we have collected 10 multiples of 3
    if len(multiples_of_3) == 10:
        break

    # If the above conditions are not met, add 'i' to the list
    multiples_of_3.append(i)

    # Increment 'i' to check the next number
    i += 1

print(multiples_of_3)  # Print the list of the first 10 multiples of 3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Remember the classify_heat_index() function we defined in the previous lecture? The break statement can be useful for repeatedly prompting the user until they provide a valid numeric input.

In [ ]:
### This is the function we had
def classify_heat_index():
    """
    Classifies the heat index value into risk categories and provides safety advice.

    Returns:
        str: Risk category and safety message.
    """
    heat_index = int(input("Enter today's heat index value: "))
    if heat_index < 80:
        category = "Caution"
        message = "It's generally safe to go outside, but stay hydrated."
    elif 80 <= heat_index < 90:
        category = "Moderate Risk"
        message = "It may feel warm. Take breaks in the shade and drink water."
    elif 90 <= heat_index < 103:
        category = "High Risk"
        message = "Prolonged exposure can lead to heat-related illness. Limit outdoor activities."
    elif 103 <= heat_index < 125:
        category = "Extreme Risk"
        message = "Heat exhaustion or heat stroke is possible. Avoid outdoor activities."
    else:
        category = "Dangerous"
        message = "Extreme heat conditions! Stay indoors and stay cool."

    return f"Risk Level: {category}", f"Advice: {message}"

In [93]:
while True: # loop will run until inside break conditions are met
  try:
      print(classify_heat_index())
      break # break the loop if the function runs successfully
  except ValueError:
      print("Invalid input. Please enter a numerical value.")

Enter today's heat index value: hot
Invalid input. Please enter a numerical value.
Enter today's heat index value: cold
Invalid input. Please enter a numerical value.
Enter today's heat index value: too hot
Invalid input. Please enter a numerical value.
Enter today's heat index value: 95
('Risk Level: High Risk', 'Advice: Prolonged exposure can lead to heat-related illness. Limit outdoor activities.')